body{

  margin: 0px;
    font-family: 'Baloo Bhaijaan 2', cursive;}




a{
  text-decoration: none;
  color: white;
}

nav{

    text-align: center;
   
  	-webkit-animation: slide-in-blurred-top 1.5s linear both;
	        animation: slide-in-blurred-top 1.5s linear both;
}


.cv{
  color: black;
padding-left: 30px;
padding-right: 30px;
padding-top: 5px;
padding-bottom: 5px;
  cursor:pointer;
  margin-right:40px;
  border: 1px solid #c3a3d8;
  border-radius: 20px;
  background-color: white;
}

 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



nav li{
    font-size: 23;
    margin-top: 50;
    color: #000000;
margin-right: 20;
    display: inline-block;
}
nav li:hover{
color:#00000088;
}

.img1{
   margin-right: -8;
    height: 500;
 display: inline-block;
 width:1273px;
    margin-top: 130;
    -webkit-animation: slide-in-blurred-bottom 1s linear both;
	        animation: slide-in-blurred-bottom 1s linear both;
}




 @-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}






::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #f2eeff; 
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #c09fd66e; 
  }

  .savw{
    width: 70px;
    margin-right: 660px;
    margin-top:100px;
    position: absolute;
  }


.myname{
  margin-top: 150;
 margin-right: 550;
  color: #000000;
  font-size: 40;
  position: absolute;
}

#wave2{
  position: absolute;
margin-top: 600px;
}

  .sec1{
    position: absolute;
    width: 1273px;
    padding-bottom: 150px;
margin-right: -8;
margin-top: -130;
    display: block;
    background-color:#fee6f5;
}
.sec1 h1{
  
  margin-top: 80px;
text-align: center;
font-size: 45px;}


.img2{
  width: 150px;

}


.tr{
  margin-right: 20px;
  display: inline;
}
.table{
  margin-top: 50px;
  margin-right: 90px;
}

.th{
  padding: 70px;
  border-radius: 10px;
  background-color:#d5b7e16c;
text-align: center;
font-size: 23px;
}

@media (max-width:1023px){


nav {
  margin-top: 20px;
}

  nav li{
display: none;  }




.myname{
  position:absolute;
  font-size: 90px;
margin-right: 530px;
margin-top: 650px;
}




.savw{
  width: 150px;
  margin-top: 500px;
  margin-right: 680px;
}


.sec1{
  position: absolute;
  width: 395px;
  padding-bottom: 150px;
margin-right: -8;
margin-top: -210;
  display: block;
  background-color:#fee6f5;
}

.img2{
  width: 200px;

}


.tr{
  margin-right: 20px;
  display: inline;
}
.table{

  margin-top: 250px;
  margin-right: 60px;
}

.th{
  padding: 30px;
  border-radius: 10px;
  background-color:#d5b7e16c;
text-align: center;
font-size: 33px;
}

#wave2{
  width: 1157px;
  position: absolute;
margin-top: 1050px;
}

}
